body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #13293d;
  color: white;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Estilo para o conteúdo da página */
section {
  padding: 60px 20px;
  margin-top: 50px; /* Ajuste para compensar a altura do menu fixo */
}

section h1 {
  margin-top: 0;
}

#home {
  background-color: #f4f4f4;
}

#contact {
  background-color: #bebebe;
}

.container {
  width: 80%;
  margin-top: 0;
}

.form-container {
  margin: 20px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.section,
.table-container {
  margin: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1,
h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #173f73;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #b4c5e4;
}
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
