<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avaliação de Projetos</title>
    <link rel="stylesheet" href="./css/avaliacaostyle.css" />
  </head>
  <body>
    <div class="container">
      <div class="section">
        <div>
          <div id="outro">
            <h2>Avaliação de Projetos</h2>
          </div>
          <form id="cadastro-form">
            <label for="nomeTrabalho">Trabalho:</label>
            <input type="text" id="nomeTrabalho" name="nomeTrabalho" required /><br /><br />
          
            <label for="apresentacao">Nota de Apresentação:</label>
            <input type="number" min="0" max="10" id="apresentacao" name="apresentacao" required><br><br>

            <label for="relevancia">Nota de Relevância:</label>
            <input type="number" min="0" max="10" id="relevancia" name="relevancia" required><br><br>

            <label for="conhecimento">Nota de Conhecimento:</label>
            <input type="number" min="0" max="10" id="conhecimento" name="conhecimento" required><br><br>
          
            <p>Melhor Trabalho?:</p>
            <input type="radio" id="yes" name="melhorTrabalho" value="1">
            <label for="yes">Sim</label><br>

            <input type="radio" id="no" name="melhorTrabalho" value="0">
            <label for="no">Não</label><br>

            <label for="obs">Observação:</label>
            <textarea id="obs" name="obs" required></textarea><br><br>
          
            <button type="submit">Cadastrar</button>
          </form>
          
          <script>

          function parseJwt(token) {
            const base64Url = token.split(".")[1];
            const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
            const jsonPayload = decodeURIComponent(atob(base64).split("").map(function(c) {
              return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(""));

            return JSON.parse(jsonPayload);
          }

          document.querySelector("#cadastro-form").addEventListener("submit", async function (event) {
            event.preventDefault();
          
            const nomeTrabalho = document.querySelector("#nomeTrabalho").value;
            const notaApresentacao = document.querySelector("#apresentacao").value;
            const notaRelevancia = document.querySelector("#relevancia").value;
            const notaConhecimento = document.querySelector("#conhecimento").value;
            const melhorTrabalho = document.querySelector('input[name="melhorTrabalho"]:checked').value;
            const obs = document.querySelector("#obs").value;

            const token = localStorage.getItem("token");
            const professorData = parseJwt(token);
          
            if (!nomeTrabalho || !notaApresentacao || !notaRelevancia || !notaConhecimento || !melhorTrabalho || !obs) {
              alert("Por favor, preencha todos os campos antes de enviar o formulário.");
              return;
            }

            const data = {
              nomeTrabalho,
              notaApresentacao,
              notaRelevancia,
              notaConhecimento,
              melhorTrabalho,
              obs,
              registroProfessor: professorData.registro
            };
          
            try {
              const response = await fetch("/avaliacao", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
              });
          
              if (response.ok) {
                const result = await response.json();
                alert("Avaliação cadastrada com sucesso!");
                fetchAvaliacao();
              } else {
                alert("Erro ao cadastrar: " + response.statusText);
              }
            } catch (error) {
              console.error("Erro:", error);
              alert("Erro ao cadastrar: " + error.message);
            }
          });
          </script>
      <div class="table-container">
        <h2>Lista de Avaliações</h2>
        <table id="avaliacaoTable">
          <thead>
            <tr>
              <th>Registro</th>
              <th>Nome</th>
              <th>Resumo</th>
              <th>Curso</th>
              <th>Professor</th>
              <th>Ações</th>

            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <script>
        async function fetchAvaliacao() {
            try {
              const response = await fetch("/avaliacao");
              const avaliacao = await response.json();

              const tableBody = document.querySelector("#avaliacaoTable tbody");
              tableBody.innerHTML = ""; // Limpa o conteúdo anterior
              avaliacao.forEach((avaliacao) => {
                const row = document.createElement("tr");
                row.innerHTML = `
                  <td>${avaliacao.idAvaliacao}</td>
                  <td>${avaliacao.nomeTrabalho}</td>                  
                  <td>${avaliacao.notaApresentacao}</td>
                  <td>${avaliacao.notaRelevancia}</td>
                  <td>${avaliacao.notaConhecimento}</td>
                  <td>${avaliacao.obs}</td>
                  <td>
                    <button onclick="updateAvaliacao(${avaliacao.idAvaliacao})">Atualizar</button>
                    <button onclick="deleteAvaliacao(${avaliacao.idAvaliacao})">Deletar</button>
                  </td>
                `;
                tableBody.appendChild(row);
              });
            } catch (error) {
              console.error("Erro ao buscar avaliações:", error);
            }
          }

          window.onload = fetchAvaliacao;
      
          async function updateAvaliacao(idAvaliacao) {
            const nomeTrabalho = document.querySelector("#updateNomeTrabalho").value;
            const notaApresentacao = document.querySelector("#updateApresentacao").value;
            const notaRelevancia = document.querySelector("#updateRelevancia").value;
            const notaConhecimento = document.querySelector("#updateConhecimento").value;
            const obs = document.querySelector("#updateObs").value;

            if (!nomeTrabalho || !notaApresentacao || !notaRelevancia || !notaConhecimento || !obs) {
              alert("Todos os campos são obrigatórios!");
              return;
            }

            const data = {
              nomeTrabalho,
              notaApresentacao,
              notaRelevancia,
              notaConhecimento,
              
              obs
            };

            try {
              const response = await fetch(`/avaliacao/${idAvaliacao}`, {
                method: "PUT",
                headers: {
                  "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
              });

              if (response.ok) {
                fetchAvaliacao();
              } else {
                console.error("Erro ao atualizar avaliação:", response.statusText);
              }
            } catch (error) {
              console.error("Erro ao atualizar avaliação:", error);
            }
          }

      async function deleteAvaliacao(idAvaliacao) {
        const response = await fetch(`/avaliacao/${idAvaliacao}`, {
          method: "DELETE",
        });

        if (response.ok) {
          fetchAvaliacao();
        } else {
          console.error("Erro ao deletar avaliação:", response.statusText);
        }
      }


      </script>

      <div
        class="menu-toggle"
        onclick="toggleMenu()"
        onmouseenter="cancelCloseMenu()"
      >
        ☰
      </div>
      <nav class="menu" onmouseleave="closeMenu()">
        <ul>
          <li><a href="professor_home.html">HOME</a></li>
          <li><a href="perfil.html">PERFIL</a></li>
          <li><a href="cadastrarprofessor.html">PROFESSORES</a></li>
          <li><a href="cadastraraluno.html">ALUNOS</a></li>
          <li><a href="avaliacao.html">AVALIAÇÃO</a></li>
          <li><a href="projetos.html">PROJETO</a></li>
          <li><a href="index.html">LOGOUT</a></li>
        </ul>
      </nav>

      <script>
        let menuTimeout;

        function toggleMenu() {
          const menu = document.querySelector(".menu");
          menu.classList.toggle("open");
        }

        function closeMenu() {
          const menu = document.querySelector(".menu");
          menuTimeout = setTimeout(() => {
            menu.classList.remove("open");
          }, 500); // Tempo de espera em milissegundos (500ms) antes de recuar o menu
        }

        function cancelCloseMenu() {
          clearTimeout(menuTimeout);
        }
      </script>
    </div>
  </body>
</html>
