<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/loginstyle.css" />
    <title>Login de Aluno</title>
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <form id="login-form">
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required /><br /><br />
        </div>
        <div class="input-group">
          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" required /><br /><br />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>

    <script>
      /*######################################################################################################*/

      function parseJwt(token) {
        const base64Url = token.split(".")[1];
        const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
        const jsonPayload = decodeURIComponent(
          atob(base64)
            .split("")
            .map(function (c) {
              return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
            })
            .join("")
        );

        return JSON.parse(jsonPayload);
      }

      const token = localStorage.getItem("token");

      if (token) {
        const alunoData = parseJwt(token);
      } else {
        console.log("Token not found in localStorage.");
      }

      /*######################################################################################################*/

      document
        .querySelector("#login-form")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const email = document.querySelector("#email").value;
          const senha = document.querySelector("#senha").value;

          if (!email || !senha) {
            alert(
              "Por favor, preencha todos os campos antes de enviar o formulário."
            );
            return;
          }

          /*######################################################################################################*/

          const response = await fetch("/login_aluno", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, senha }),
          });

          if (response.ok) {
            var respostaLogin = await response.text(); // Receives the token as text
            respostaLogin = JSON.parse(respostaLogin);

            if (respostaLogin.status == true) {
              localStorage.setItem("dados", JSON.stringify(respostaLogin));

              window.location.href = "aluno_home.html"; // Redirect to the professor's page
            } else {
              alert("Credenciais inválidas. Tente novamente.");
            }
          } else {
            alert("Erro no servidor. Tente novamente mais tarde.");
          }
        });
    </script>
  </body>
</html>
