<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/homestyle.css" />
    <title>Página Inicial</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="professor_home.html">HOME</a></li>
          <li><a href="perfil_professor.html">PERFIL</a></li>
          <li><a href="cadastrarprofessor.html">PROFESSORES</a></li>
          <li><a href="cadastraraluno.html">ALUNOS</a></li>
          <li><a href="avaliacao.html">AVALIAÇÃO</a></li>
          <li><a href="projetos.html">PROJETO</a></li>
          <li><a href="index.html">LOGOUT</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>

<script>
  const dados = localStorage.getItem("dados");
  const objetoDados = JSON.parse(dados);
  const REGISTRO = objetoDados.registro;
</script>
